.env
google_credentials.json
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.DS_Store
airflow/logs/
airflow/plugins/
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
